<footer class="bg-dark text-center p-4">
    <p class="h4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, similique pariatur accusamus itaque atque ea?
        Blanditiis doloremque quisquam ut et, porro eligendi expedita labore, omnis molestias numquam harum aut tempore.
       </p>
       
       <script>
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });

    </script>
</footer>