<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('partials/navigation') %>


        <main class="vh-100 container d-flex text-center justify-content-center align-items-center">
            <section>
                <h1 class="diplay-1">About</h1>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error consectetur incidunt debitis impedit
                    sequi ad nam. Nihil rerum voluptatum dolorem asperiores! Soluta quis beatae sapiente ipsam fuga,
                    enim atque recusandae!
                    Blanditiis fugiat, saepe assumenda quibusdam repellat vero magnam quasi suscipit aliquid impedit
                    nesciunt sapiente dolor dolores cupiditate, corrupti odio officiis itaque. Numquam expedita
                    molestiae inventore fugiat! Iusto placeat expedita cum?
                    Eos, sed. Non suscipit provident, consectetur deleniti nobis laboriosam corrupti minus quos.
                    Eligendi a sequi quod. Quidem debitis dolorum facere ut officia velit accusantium non ratione enim
                    repellendus, ex expedita!
                    Eveniet optio sed animi. Quae assumenda natus, inventore accusamus ipsam amet similique culpa
                    nesciunt provident sapiente. Adipisci provident ea quasi saepe expedita, maiores ratione libero
                    labore accusamus? Aliquid, expedita quis.
                    Neque aut, a voluptas nam commodi est fugiat culpa ipsum illo. Expedita, quos aperiam libero velit
                    illo sequi qui veniam iure consequuntur! Accusamus reprehenderit excepturi rerum eaque ducimus sed
                    a.
                    
                </p>
            </section>
        </main>
        <%- include('partials/footer') %>
</body>

</html>